[Desktop Entry]
Type=Application
Name=Stardew Valley
Icon=sv
Exec=env LD_PRELOAD="./libSkiaSharp.so" "/data/Games/Stardew Valley/StardewModdingAPI"
Categories=Game;
Keywords=sv
